.startup-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #adadad5d;
  border-radius: 25px;
  padding: 7px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.685);
  margin-top: 20px;
  }
  
  .startup-button:hover {
  background-color: #f0f0f0; /* Optional hover effect */
  }